<% @team_number.times do %>

    <div class="row">
        <div class ="col-md-4">
            <% rand_num = rand(1..1000) %>
            <% set_num = rand(1..4) %>
            <% bg_num = rand(1..2) %>

            <%if set_num == 1 %>
                <% set = "set1" %>
            <%elsif set_num == 2%>
                <% set = "set2" %>
            <% elsif set_num == 3 %>
                <% set = "set3" %>
            <% else set_num == 4 %>
                <% set = "set4" %>
            <%end%>

            <%if bg_num == 1 %>
                <% bg = "bg1" %>
            <%else%>
                <% bg = "bg2"%>
            <%end%>

            <% avatar = Faker::Avatar.image(slug: rand_num, size: "300x300", format: "png", set: set, bgset: bg) %>
    
            <img src="<%= avatar %>">
        </div>
                        
        <div class="col-md-4">
            <h5>
                Your Superhero Name:<br/>
                <span class="red"> <%=Faker::Superhero.name%></span><br/><br/>
                Your Superhero Power:<br/>
                <span class="red"><%=Faker::Superhero.power%></span><br/><br/><br/>
            </h5>

            <h6>
                Your Undercover Day Job Is:<br/>
                <span class="corp_red"><%=Faker::Job.title%></span><br/>
                <br/>
                Your Corporate Superpower Is:<br/>
                <span class="corp_red"><%=Faker::Company.bs.titleize%></span>
                </h6>
        </div>

        <div class="col-md-4">
        </div>
    </div>
    <hr>
<%end%>