<br/>
<div class="card">
    <div class="card-header gray">
        <h5 class="card-header gray"><%= link_to 'Create a Superhero', root_path %> </h5>
            <div class="card-body">
            <br/>
                <div class="row">
                    <div class ="col-md-4">
                        <img src="<%= @avatar %>">
                    </div>
                    
                    <div class="col-md-4">
                        <h5>
                        Your Superhero Name:<br/>
                        <span class="red"> <%=@hero_name%></span><br/><br/>
                        Your Superhero Power:<br/>
                        <span class="red"><%=@hero_power%></span><br/><br/><br/>
                        </h5>

                        <h6>
                        Your Undercover Day Job Is:<br/>
                        <span class="corp_red"><%=@job_title%></span><br/>
                        <br/>
                        Your Corporate Superpower Is:<br/>
                        <span class="corp_red"><%=@corp_power%></span>
                        </h6>
                    </div>

                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <br/>
    <h5 class="card-footer"><%= link_to 'Create a Team', home_team_path %></h5>
</div>


